body{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		background: url("../images/purple-back1.jpg");
		background-size: cover;		
	}

	.login-box{
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 400px;
		background-color: transparent;
		padding: 40px;
		box-sizing: border-box;
		border: 1px solid rgba(0,0,0,.1);
		box-shadow: 10px 5px 10px 3px rgba(0,0,0,0.4);
		    
    

	}

	.login-box h2{
		text-align: center;
		margin: 0 0 40px;
		padding: 0;
		color: black;
		font-family: cursive;
		font-size: 40px;
		text-transform: uppercase;

	}

.login-box input{
	padding: 10px 0;
	margin-bottom: 30px;
	width: 100%;
	box-shadow: none;
	border: none;
	background: transparent;
	outline: none;
	box-sizing: border-box;
border-bottom: 1px solid #FA7280;
	letter-spacing;

}


.login-box input[type="submit"]{
	cursor: pointer;;
	border-bottom: none;
	color:#fff;
	margin-bottom: 0;
	letter-spacing: 1px;
	font-weight: 900;
	text-transform: uppercase;
    /*background-image: linear-gradient(to right,white,#FA7280);*/
    /*animation: animate 5s infinite linear;*/
    background-color: #FA7280;
    font-family: cursive;
    background-size: 1000%;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px

}
@keyframes animate{
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: 100% 100%;
	}
}


.login-box form div{
position: relative;
}

.login-box form label{
	position: absolute;
	top:10px;
	pointer-events: none;
	transition: 0.5s;
	left: 10px;
	color: #FA7280;
	letter-spacing: 3px;

}

.login-box input:focus ~ label,
.login-box input:valid ~ label{
top:-19px;
left:10px;
font-family: cursive;
color:  #FA7280;
font-weight: bolder;
}

.login-box .input-item:focus ,
.login-box .input-item:valid {
	border-bottom: 2px solid  #FA7280;

}