*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;

}

body{
/*background-color: 	rgba(218,34,255,0.1);*/
}
#error{
	transform: translateX(30%);
	width: 60%;
	padding: auto 0px;
	margin-bottom: 10px;
	text-align: center;

}
#error li{
	background:#FA7280;
	font-size: 20px;
	list-style-type: none;
	margin: 5px 5px;
	color:  black;
	padding: 2px;
	border-radius: 30%;
}
#wrapper{
	width: 90%;
	height:100vh;
	margin: 0  auto;

	display: flex;
	justify-content: center;
	align-items: center;

}

.form-container{
	margin-top: 50px;
	width: 100%;
	max-width: 40rem;
	background-color: #fff;
	position: relative;
	padding-top: 10rem ;
	box-shadow: 1px 10px  3rem rgba(0,0,0,0.3);
	border-radius: 1rem;
	z-index: 1;
}

.form-container::before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 30rem;
	/*background: linear-gradient(to left, #7b4397,#ff0084);*/
	background-color: #FA7280;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius:100%;
	z-index: -1;

}
.form-heading{
	font-size: 2.5rem;
	position: absolute;
	color: #000;
	font-family: cursive;
	top: 3.5rem;
	left: 10rem;

}

form{
	transform: translateX(10rem);
	padding: 2rem 0;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 1px 1.5rem rgba(0,0,0,0.4);


}


.input-group{
	width: 90%;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: baseline;
}

.input-group input{
	position: relative;
	width: 100%;
	padding:  1rem 0;
	margin-top:0.5rem;
	border: none;
	outline: none;
	font-size: 1.8rem;
	color: #FA7280;

}

.input-group  > i{
	font-size: 2rem;
	margin-right: 1rem;
	color: #FA7280;
}
.input-group .bar{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgb(0,0,0,.1);
	width: 100%;
	height: 1px;

}

.input-group .bar::before{
	content: "";
	position: absolute;
	background-color: #FA7280;
	width: 0;
	height: 2px;
	transition: width 650ms;
}
.input-group input:focus + .bar::before{
	width: 100%;
}

.input-group button{
	margin: 3rem auto;
	padding: 1rem 5rem;
	background:linear-gradient(to left, black,#FA7280);
	border: none;
	color: #fff;
	font-size: 2.5rem;
	cursor: pointer;
	border-radius: 3rem; 
}

.input-group button:focus,
.input-group button:hover{
	/*background:linear-gradient(to right, #7b4397,#ff0084);*/
	background:linear-gradient(to right, black,#FA7280);



}

.switch-login{
	text-align: center;
}

.switch-login a{
	text-decoration: none;
	color: #FA7280;
	font-size: 1.5rem;

}
.switch-login a span{
color: #FA7280;
}

.switch-login a span:hover{
padding-bottom: 2px;
border-bottom: 2px solid #FA7280;

}

@media screen and (max-width: 700px){
	.form-container::before{
		height: 10rem;
	}
	.form-heading{
		left: 50%;
		transform: translateX(-50%);
	}
	form{
		border: initial;
		transform: inherit;
		box-shadow: none;
	}
}